body{
    font-family: Arial, Helvetica, sans-serif;
}

.serif{
    font-family: "DM Serif Display", serif;
}

#notesContainer > div:nth-child(2n){
    background-color: #fefffe;
}
#notesContainer > div:nth-child(2n+1){
    background-color: #d1e1ff;
}