body{
    height: 100vh;
    background-image: url('/CSS/LoginForm/assets/liquid-cheese.png');
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#container{
    height: fit-content;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
}

#navbar{
    display: flex;
    gap: 45px;
    margin-top: 10px;
}

#navbar>li {
    text-decoration: none;
    list-style: none;
    font-family: "Lato";
}

#section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#image{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 100%;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black; /* only bottom border */
    padding: 10px;
    outline: none;
}
  
input[type="text"]::placeholder {
    opacity: 1;
}

#loginBtn{
    width: 100%;
    margin-top: 10px;
    padding: 6px;
    background-color: black;
    color: white;
    box-shadow: 4px 4px white;
}

#remAndFor{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

#forget{
    text-align: center;
    text-decoration: underline;
}

#cancel{
    width: 100%;
    background-color: white;
    color: black;
    padding: 6px;
    box-shadow: 4px 4px black;
}

#username{
    display: flex;
    justify-content: center;
    align-items: center;
}
#password{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginHead{
    font-family: Lato;
    font-weight: 800;
}